<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel" style="padding-bottom: 40px">
      <div class="info">
        <p>Olá Fulano X</p>
      </div>
    </div>
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><br/></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Arquivos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active text-aqua"><a href="pages/forms/general.html"><i class="fa fa-circle-o text-green"></i>À processar</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i>Processados</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i>Carregados</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Configurações</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> <span>Dados</span></a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> <span>Parâmetros</span></a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
